.result-image-list {
    margin: 5rem auto;
    width: 80vw;
    display: flex;
    align-items: baseline;
    justify-items: center;

    .item {
        margin: 3rem;
        text-align: center;
    }
}